<div style="display:flex;justify-content:center; height:80vh;">
  <form style="display:flex;flex-direction:column;justify-content:center;gap: 1em;">
    <button style="font-size: 2em" formaction="/block">Blocking load</button>
    <button style="font-size: 2em" formaction="/stream-sections">Stream the page</button>
    <button style="font-size: 2em" formaction="/stream-items">Stream individual items</button>
    <button style="font-size: 2em" formaction="/skel">Stream with skeletons</button>
  </form>
</div>
